---
- hosts: default
  vars:
    user: user
    postgresql_version: 9.3
    ruby_install_version: HEAD
    chruby_version: 0.3.8
    ruby_version: 1.9.3-p547
  roles:
    - base
    - git
    - postgres
    - mysql
    - ruby-install
    - ruby
    - zsh
    - chruby
    - bundler
  sudo : true
